# Dataset

It is mixed data, that is, both numerical and categorical data are present. The dataset consists of 1000 students record with a total of eight features, viz.,
1.	gender : categorical
2.	race/ethnicity : categorical
3.	parental level of education : categorical
4.	lunch : categorical
5.	test preparation course : categorical
6.	math score : numerical
7.	reading score : numerical; and
8.	writing score : numerical

The dataset is taken from 'Students Performance in Exams - Marks secured by the students in various subjects' by Jakki Seshapanpu
Ref. - https://www.kaggle.com/spscientist/students-performance-in-exams

In [1]:
!pip install sweetviz

Defaulting to user installation because normal site-packages is not writeable
Collecting sweetviz
  Downloading sweetviz-2.1.4-py3-none-any.whl (15.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.1/15.1 MB 4.2 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting scipy>=1.3.2
  Using cached scipy-1.9.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (43.9 MB)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /home/v/.local/lib/python3.10/site-packages (from sweetviz) (1.4.3)
Requirement already satisfied: numpy>=1.16.0 in /home/v/.local/lib/python3.10/site-packages (from sweetviz) (1.23.2)
Requirement already satisfied: tqdm>=4.43.0 in /home/v/.local/lib/python3.10/site-packages (from sweetviz) (4.64.0)
Collecting importlib-resources>=1.2.0
  Downloading importlib_resources-5.9.0-py3-none-any.whl (33 kB)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.10/dist-packages (from sweetviz) (3.1.2)
Collecting matplotlib>=3.1.3
  Using cached matplotlib-3.5.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.9 MB)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/lib/python3/dist-packages (from jinja2>=2.11.1->sweetviz) (2.0.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/lib/python3/dist-packages (from matplotlib>=3.1.3->sweetviz) (9.0.1)
Collecting cycler>=0.10
  Using cached cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0
  Using cached fonttools-4.37.1-py3-none-any.whl (957 kB)
Collecting kiwisolver>=1.0.1
  Using cached kiwisolver-1.4.4-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.6 MB)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.1.3->sweetviz) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/lib/python3/dist-packages (from matplotlib>=3.1.3->sweetviz) (2.4.7)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib>=3.1.3->sweetviz) (1.16.0)
Installing collected packages: scipy, kiwisolver, importlib-resources, fonttools, cycler, matplotlib, sweetviz
Successfully installed cycler-0.11.0 fonttools-4.37.1 importlib-resources-5.9.0 kiwisolver-1.4.4 matplotlib-3.5.3 scipy-1.9.1 sweetviz-2.1.4

In [7]:
import sweetviz as sv
import pandas as pd

In [8]:
#loading the data
data  =   pd.read_csv('StudentsPerformance.csv')

#Printing data insights
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [9]:
#Printing few data samples
data.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [10]:
# Analyzing data
report=sv.analyze(data)

# Generating report
report.show_html('eda_report.html')

                                             |      | [  0%]   00:00 -> (? left)

Report eda_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [12]:
# split the data into two datasets
data1=data[0:400]
data2=data[400:]

In [13]:
print(data1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       400 non-null    object
 1   race/ethnicity               400 non-null    object
 2   parental level of education  400 non-null    object
 3   lunch                        400 non-null    object
 4   test preparation course      400 non-null    object
 5   math score                   400 non-null    int64
 6   reading score                400 non-null    int64
 7   writing score                400 non-null    int64
dtypes: int64(3), object(5)
memory usage: 25.1+ KB
None

In [14]:
print(data2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 400 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       600 non-null    object
 1   race/ethnicity               600 non-null    object
 2   parental level of education  600 non-null    object
 3   lunch                        600 non-null    object
 4   test preparation course      600 non-null    object
 5   math score                   600 non-null    int64
 6   reading score                600 non-null    int64
 7   writing score                600 non-null    int64
dtypes: int64(3), object(5)
memory usage: 37.6+ KB
None

In [15]:
report_comp=sv.compare(data1,data2)
report_comp.show_html()

                                             |      | [  0%]   00:00 -> (? left)

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [16]:
# Comparing the two datasets
report_comp=sv.compare([data1,'Base Original'],[data2,'Base em Validação'])

# Generating report
report_comp.show_html('Compare_Results.html')

                                             |      | [  0%]   00:00 -> (? left)

Report Compare_Results.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [17]:
# Target Analysis
report_comp=sv.compare(data1,data2,'math score')
report_comp.show_html('Compare_Results.html')

                                             |      | [  0%]   00:00 -> (? left)

Report Compare_Results.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

# Playing with Reports

In [18]:
report_comp.show_html(filepath='report.html',
open_browser=True,
layout='vertical',
scale=0.9)

Report report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.